In [26]:
# Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [62]:
#Import files
energy_csv = "resources/energy_dataset.csv"
weather_csv = "resources/weather_features.csv"
energy_df = pd.read_csv(energy_csv)
weather_df = pd.read_csv(weather_csv)

# Merge DataFrames into one (big_df)
big_df = pd.merge(energy_df, weather_df, on="time")

## Main DataFrame

In [86]:
# Select only necessary columns for a better DataFrame (better_big_df)
better_big_df = pd.DataFrame({
    "Time":big_df["time"],
    "Month":big_df["month"],
    "Day":big_df["day"],
    "Year":big_df["year"],
    "Oil (MW)":big_df["generation fossil oil"],
    "Hydro-River(MW)":big_df["generation hydro run-of-river and poundage"],
    "Hydro-Resivoir(MW)":big_df["generation hydro water reservoir"],
    "Solar":big_df["generation solar"],
    "Nuclear":big_df["generation nuclear"],
    "City":big_df["city_name"],
    "Temp (F)":round(big_df["temp"]*(9/5)-459.67,2),
    "Rain (mm)":big_df["rain_3h"],
    "Snow (mm)":big_df["snow_3h"],
    "Clouds":big_df["clouds_all"],
    "Weather Description":big_df["weather_main"]})
# Preivew summary
better_big_df.count()

Time                   178396
Month                  178396
Day                    178396
Year                   178396
Oil (MW)               178301
Hydro-River(MW)        178301
Hydro-Resivoir(MW)     178306
Solar                  178306
Nuclear                178311
City                   178396
Temp (F)               178396
Rain (mm)              178396
Snow (mm)              178396
Clouds                 178396
Weather Description    178396
dtype: int64

### Adding Seasons

In [93]:
# Bin months into Seasons
bins = [0,4,7,10,13]
season = ["Sping","Summer","Fall","Winter"]

# Add Seasons to DataFrame
better_big_df["Season"] = pd.cut(better_big_df["Month"],bins,labels=season)

# Preview
better_big_df

,Time,Month,Day,Year,Oil (MW),Hydro-River(MW),Hydro-Resivoir(MW),Solar,Nuclear,City,Temp (F),Rain (mm),Snow (mm),Clouds,Weather Description,Season
0,2015-01-01 00:00:00+01:00,1,1,2015,162.0,1051.0,1899.0,49.0,7096.0,Valencia,27.19,0.0,0.0,0,clear,Sping
1,2015-01-01 00:00:00+01:00,1,1,2015,162.0,1051.0,1899.0,49.0,7096.0,Madrid,21.51,0.0,0.0,0,clear,Sping
2,2015-01-01 00:00:00+01:00,1,1,2015,162.0,1051.0,1899.0,49.0,7096.0,Bilbao,25.71,0.0,0.0,0,clear,Sping
3,2015-01-01 00:00:00+01:00,1,1,2015,162.0,1051.0,1899.0,49.0,7096.0,Barcelona,47.26,0.0,0.0,0,clear,Sping
4,2015-01-01 00:00:00+01:00,1,1,2015,162.0,1051.0,1899.0,49.0,7096.0,Seville,32.40,0.0,0.0,0,clear,Sping
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178391,2018-12-31 23:00:00+01:00,12,31,2018,163.0,1069.0,1686.0,31.0,6075.0,Valencia,42.78,0.0,0.0,0,clear,Winter
178392,2018-12-31 23:00:00+01:00,12,31,2018,163.0,1069.0,1686.0,31.0,6075.0,Madrid,35.60,0.0,0.0,0,clear,Winter
178393,2018-12-31 23:00:00+01:00,12,31,2018,163.0,1069.0,1686.0,31.0,6075.0,Bilbao,36.41,0.0,0.0,0,clear,Winter
178394,2018-12-31 23:00:00+01:00,12,31,2018,163.0,1069.0,1686.0,31.0,6075.0,Barcelona,44.56,0.0,0.0,0,clear,Winter
178395,2018-12-31 23:00:00+01:00,12,31,2018,163.0,1069.0,1686.0,31.0,6075.0,Seville,51.48,0.0,0.0,0,clear,Winter

## Madrid
Energy Generation vs Weather

In [94]:
# Create Dataframe for Madrid
madrid_big_df = better_big_df.loc[better_big_df["City"]=="Madrid"]

# Preview
madrid_big_df.head()

,Time,Month,Day,Year,Oil (MW),Hydro-River(MW),Hydro-Resivoir(MW),Solar,Nuclear,City,Temp (F),Rain (mm),Snow (mm),Clouds,Weather Description,Season
1,2015-01-01 00:00:00+01:00,1,1,2015,162.0,1051.0,1899.0,49.0,7096.0,Madrid,21.51,0.0,0.0,0,clear,Sping
6,2015-01-01 01:00:00+01:00,1,1,2015,158.0,1009.0,1658.0,50.0,7096.0,Madrid,21.51,0.0,0.0,0,clear,Sping
11,2015-01-01 02:00:00+01:00,1,1,2015,157.0,973.0,1371.0,50.0,7099.0,Madrid,19.46,0.0,0.0,0,clear,Sping
16,2015-01-01 03:00:00+01:00,1,1,2015,160.0,949.0,779.0,50.0,7098.0,Madrid,19.46,0.0,0.0,0,clear,Sping
21,2015-01-01 04:00:00+01:00,1,1,2015,156.0,953.0,720.0,42.0,7097.0,Madrid,19.46,0.0,0.0,0,clear,Sping

## Bilbao
Energy Generation vs Weather

In [95]:
# Create Dataframe for Bilbao
bilbao_big_df = better_big_df.loc[better_big_df["City"]=="Bilbao"]

# Preview
bilbao_big_df.head()

,Time,Month,Day,Year,Oil (MW),Hydro-River(MW),Hydro-Resivoir(MW),Solar,Nuclear,City,Temp (F),Rain (mm),Snow (mm),Clouds,Weather Description,Season
2,2015-01-01 00:00:00+01:00,1,1,2015,162.0,1051.0,1899.0,49.0,7096.0,Bilbao,25.71,0.0,0.0,0,clear,Sping
7,2015-01-01 01:00:00+01:00,1,1,2015,158.0,1009.0,1658.0,50.0,7096.0,Bilbao,25.90,0.0,0.0,0,clear,Sping
12,2015-01-01 02:00:00+01:00,1,1,2015,157.0,973.0,1371.0,50.0,7099.0,Bilbao,24.98,0.0,0.0,0,clear,Sping
17,2015-01-01 03:00:00+01:00,1,1,2015,160.0,949.0,779.0,50.0,7098.0,Bilbao,24.90,0.0,0.0,0,clear,Sping
22,2015-01-01 04:00:00+01:00,1,1,2015,156.0,953.0,720.0,42.0,7097.0,Bilbao,25.40,0.0,0.0,0,clear,Sping

## Barcelona
Energy Generation vs Weather

In [96]:
# Create Dataframe for Barcelona
barcelona_big_df = better_big_df.loc[better_big_df["City"]==" Barcelona"]
barcelona_big_df = barcelona_big_df.rename(columns={" Barcelona":"Barcelona"})

# Preview
barcelona_big_df.head()

,Time,Month,Day,Year,Oil (MW),Hydro-River(MW),Hydro-Resivoir(MW),Solar,Nuclear,City,Temp (F),Rain (mm),Snow (mm),Clouds,Weather Description,Season
3,2015-01-01 00:00:00+01:00,1,1,2015,162.0,1051.0,1899.0,49.0,7096.0,Barcelona,47.26,0.0,0.0,0,clear,Sping
8,2015-01-01 01:00:00+01:00,1,1,2015,158.0,1009.0,1658.0,50.0,7096.0,Barcelona,47.26,0.0,0.0,0,clear,Sping
13,2015-01-01 02:00:00+01:00,1,1,2015,157.0,973.0,1371.0,50.0,7099.0,Barcelona,46.64,0.0,0.0,0,clear,Sping
18,2015-01-01 03:00:00+01:00,1,1,2015,160.0,949.0,779.0,50.0,7098.0,Barcelona,46.64,0.0,0.0,0,clear,Sping
23,2015-01-01 04:00:00+01:00,1,1,2015,156.0,953.0,720.0,42.0,7097.0,Barcelona,46.64,0.0,0.0,0,clear,Sping

## Seville
Energy Generation vs Weather

In [97]:
# Create Dataframe for Seville
seville_big_df = better_big_df.loc[better_big_df["City"]=="Seville"]

# Preivew
seville_big_df.head()

,Time,Month,Day,Year,Oil (MW),Hydro-River(MW),Hydro-Resivoir(MW),Solar,Nuclear,City,Temp (F),Rain (mm),Snow (mm),Clouds,Weather Description,Season
4,2015-01-01 00:00:00+01:00,1,1,2015,162.0,1051.0,1899.0,49.0,7096.0,Seville,32.40,0.0,0.0,0,clear,Sping
9,2015-01-01 01:00:00+01:00,1,1,2015,158.0,1009.0,1658.0,50.0,7096.0,Seville,32.40,0.0,0.0,0,clear,Sping
14,2015-01-01 02:00:00+01:00,1,1,2015,157.0,973.0,1371.0,50.0,7099.0,Seville,33.68,0.0,0.0,0,clear,Sping
19,2015-01-01 03:00:00+01:00,1,1,2015,160.0,949.0,779.0,50.0,7098.0,Seville,33.68,0.0,0.0,0,clear,Sping
24,2015-01-01 04:00:00+01:00,1,1,2015,156.0,953.0,720.0,42.0,7097.0,Seville,33.68,0.0,0.0,0,clear,Sping

## Valencia
Energy Generation vs Weather

In [98]:
# Create Dataframe for Valencia
valencia_big_df = better_big_df.loc[better_big_df["City"]=="Valencia"]

# Preivew
valencia_big_df.head()

,Time,Month,Day,Year,Oil (MW),Hydro-River(MW),Hydro-Resivoir(MW),Solar,Nuclear,City,Temp (F),Rain (mm),Snow (mm),Clouds,Weather Description,Season
0,2015-01-01 00:00:00+01:00,1,1,2015,162.0,1051.0,1899.0,49.0,7096.0,Valencia,27.19,0.0,0.0,0,clear,Sping
5,2015-01-01 01:00:00+01:00,1,1,2015,158.0,1009.0,1658.0,50.0,7096.0,Valencia,27.19,0.0,0.0,0,clear,Sping
10,2015-01-01 02:00:00+01:00,1,1,2015,157.0,973.0,1371.0,50.0,7099.0,Valencia,25.76,0.0,0.0,0,clear,Sping
15,2015-01-01 03:00:00+01:00,1,1,2015,160.0,949.0,779.0,50.0,7098.0,Valencia,25.76,0.0,0.0,0,clear,Sping
20,2015-01-01 04:00:00+01:00,1,1,2015,156.0,953.0,720.0,42.0,7097.0,Valencia,25.76,0.0,0.0,0,clear,Sping