In [26]:
# Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [27]:
#Import file
energy_csv = "resources/energy_dataset.csv"
weather_csv = "resources/weather_features.csv"
energy_df = pd.read_csv(energy_csv)
weather_df = pd.read_csv(weather_csv)

In [28]:
big_df = pd.merge(energy_df, weather_df, on="time")
big_df.count()
better_big_df = pd.DataFrame({
    "Time":big_df["time"],
    "Month":big_df["month"],
    "Day":big_df["day"],
    "Year":big_df["year"],
    "Oil":big_df["generation fossil oil"],
    "Hydro-River":big_df["generation hydro run-of-river and poundage"],
    "Hydro-Resivoir":big_df["generation hydro water reservoir"],
    "Solar":big_df["generation solar"],
    "Nuclear":big_df["generation nuclear"],
    "City":big_df["city_name"],
    "Temp (F)":round(big_df["temp"]*(9/5)-459.67,2),
    "Rain (mm)":big_df["rain_3h"],
    "Snow (mm)":big_df["snow_3h"],
    "Clouds":big_df["clouds_all"],
    "Weather Description":big_df["weather_main"]})
better_big_df.head(10)

,Time,Month,Day,Year,Oil,Hydro-River,Hydro-Resivoir,Solar,Nuclear,City,Temp (F),Rain (mm),Snow (mm),Clouds,Weather Description
0,2015-01-01 00:00:00+01:00,1,1,2015,162.0,1051.0,1899.0,49.0,7096.0,Valencia,27.19,0.0,0.0,0,clear
1,2015-01-01 00:00:00+01:00,1,1,2015,162.0,1051.0,1899.0,49.0,7096.0,Madrid,21.51,0.0,0.0,0,clear
2,2015-01-01 00:00:00+01:00,1,1,2015,162.0,1051.0,1899.0,49.0,7096.0,Bilbao,25.71,0.0,0.0,0,clear
3,2015-01-01 00:00:00+01:00,1,1,2015,162.0,1051.0,1899.0,49.0,7096.0,Barcelona,47.26,0.0,0.0,0,clear
4,2015-01-01 00:00:00+01:00,1,1,2015,162.0,1051.0,1899.0,49.0,7096.0,Seville,32.40,0.0,0.0,0,clear
5,2015-01-01 01:00:00+01:00,1,1,2015,158.0,1009.0,1658.0,50.0,7096.0,Valencia,27.19,0.0,0.0,0,clear
6,2015-01-01 01:00:00+01:00,1,1,2015,158.0,1009.0,1658.0,50.0,7096.0,Madrid,21.51,0.0,0.0,0,clear
7,2015-01-01 01:00:00+01:00,1,1,2015,158.0,1009.0,1658.0,50.0,7096.0,Bilbao,25.90,0.0,0.0,0,clear
8,2015-01-01 01:00:00+01:00,1,1,2015,158.0,1009.0,1658.0,50.0,7096.0,Barcelona,47.26,0.0,0.0,0,clear
9,2015-01-01 01:00:00+01:00,1,1,2015,158.0,1009.0,1658.0,50.0,7096.0,Seville,32.40,0.0,0.0,0,clear

In [46]:
bins = [0,4,7,10,13]
season = ["Spring","Summer","Fall","Winter"]

In [48]:
madrid_big_df = better_big_df.loc[better_big_df["City"]=="Madrid"]

madrid_big_df["Season"] = pd.cut(madrid_big_df["Month"],bins,labels=season)

madrid_big_df.head()

C:\Users\Jon\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Time,Month,Day,Year,Oil,Hydro-River,Hydro-Resivoir,Solar,Nuclear,City,Temp (F),Rain (mm),Snow (mm),Clouds,Weather Description,Season
1,2015-01-01 00:00:00+01:00,1,1,2015,162.0,1051.0,1899.0,49.0,7096.0,Madrid,21.51,0.0,0.0,0,clear,Spring
6,2015-01-01 01:00:00+01:00,1,1,2015,158.0,1009.0,1658.0,50.0,7096.0,Madrid,21.51,0.0,0.0,0,clear,Spring
11,2015-01-01 02:00:00+01:00,1,1,2015,157.0,973.0,1371.0,50.0,7099.0,Madrid,19.46,0.0,0.0,0,clear,Spring
16,2015-01-01 03:00:00+01:00,1,1,2015,160.0,949.0,779.0,50.0,7098.0,Madrid,19.46,0.0,0.0,0,clear,Spring
21,2015-01-01 04:00:00+01:00,1,1,2015,156.0,953.0,720.0,42.0,7097.0,Madrid,19.46,0.0,0.0,0,clear,Spring

In [49]:
bilbao_big_df = better_big_df.loc[better_big_df["City"]=="Bilbao"]

bilbao_big_df["Season"] = pd.cut(bilbao_big_df["Month"],bins,labels=season)

bilbao_big_df.head()

C:\Users\Jon\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Time,Month,Day,Year,Oil,Hydro-River,Hydro-Resivoir,Solar,Nuclear,City,Temp (F),Rain (mm),Snow (mm),Clouds,Weather Description,Season
2,2015-01-01 00:00:00+01:00,1,1,2015,162.0,1051.0,1899.0,49.0,7096.0,Bilbao,25.71,0.0,0.0,0,clear,Spring
7,2015-01-01 01:00:00+01:00,1,1,2015,158.0,1009.0,1658.0,50.0,7096.0,Bilbao,25.90,0.0,0.0,0,clear,Spring
12,2015-01-01 02:00:00+01:00,1,1,2015,157.0,973.0,1371.0,50.0,7099.0,Bilbao,24.98,0.0,0.0,0,clear,Spring
17,2015-01-01 03:00:00+01:00,1,1,2015,160.0,949.0,779.0,50.0,7098.0,Bilbao,24.90,0.0,0.0,0,clear,Spring
22,2015-01-01 04:00:00+01:00,1,1,2015,156.0,953.0,720.0,42.0,7097.0,Bilbao,25.40,0.0,0.0,0,clear,Spring

In [50]:
barcelona_big_df = better_big_df.loc[better_big_df["City"]==" Barcelona"]
barcelona_big_df = barcelona_big_df.rename(columns={" Barcelona":"Barcelona"})
barcelona_big_df["Season"] = pd.cut(barcelona_big_df["Month"],bins,labels=season)

barcelona_big_df.head()

,Time,Month,Day,Year,Oil,Hydro-River,Hydro-Resivoir,Solar,Nuclear,City,Temp (F),Rain (mm),Snow (mm),Clouds,Weather Description,Season
3,2015-01-01 00:00:00+01:00,1,1,2015,162.0,1051.0,1899.0,49.0,7096.0,Barcelona,47.26,0.0,0.0,0,clear,Spring
8,2015-01-01 01:00:00+01:00,1,1,2015,158.0,1009.0,1658.0,50.0,7096.0,Barcelona,47.26,0.0,0.0,0,clear,Spring
13,2015-01-01 02:00:00+01:00,1,1,2015,157.0,973.0,1371.0,50.0,7099.0,Barcelona,46.64,0.0,0.0,0,clear,Spring
18,2015-01-01 03:00:00+01:00,1,1,2015,160.0,949.0,779.0,50.0,7098.0,Barcelona,46.64,0.0,0.0,0,clear,Spring
23,2015-01-01 04:00:00+01:00,1,1,2015,156.0,953.0,720.0,42.0,7097.0,Barcelona,46.64,0.0,0.0,0,clear,Spring

In [51]:
seville_big_df = better_big_df.loc[better_big_df["City"]=="Seville"]
seville_big_df["Season"] = pd.cut(seville_big_df["Month"],bins,labels=season)
seville_big_df.head()

C:\Users\Jon\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Time,Month,Day,Year,Oil,Hydro-River,Hydro-Resivoir,Solar,Nuclear,City,Temp (F),Rain (mm),Snow (mm),Clouds,Weather Description,Season
4,2015-01-01 00:00:00+01:00,1,1,2015,162.0,1051.0,1899.0,49.0,7096.0,Seville,32.40,0.0,0.0,0,clear,Spring
9,2015-01-01 01:00:00+01:00,1,1,2015,158.0,1009.0,1658.0,50.0,7096.0,Seville,32.40,0.0,0.0,0,clear,Spring
14,2015-01-01 02:00:00+01:00,1,1,2015,157.0,973.0,1371.0,50.0,7099.0,Seville,33.68,0.0,0.0,0,clear,Spring
19,2015-01-01 03:00:00+01:00,1,1,2015,160.0,949.0,779.0,50.0,7098.0,Seville,33.68,0.0,0.0,0,clear,Spring
24,2015-01-01 04:00:00+01:00,1,1,2015,156.0,953.0,720.0,42.0,7097.0,Seville,33.68,0.0,0.0,0,clear,Spring

In [52]:
valencia_big_df = better_big_df.loc[better_big_df["City"]=="Valencia"]

valencia_big_df["Season"] = pd.cut(valencia_big_df["Month"],bins,labels=season)

valencia_big_df.head()

C:\Users\Jon\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Time,Month,Day,Year,Oil,Hydro-River,Hydro-Resivoir,Solar,Nuclear,City,Temp (F),Rain (mm),Snow (mm),Clouds,Weather Description,Season
0,2015-01-01 00:00:00+01:00,1,1,2015,162.0,1051.0,1899.0,49.0,7096.0,Valencia,27.19,0.0,0.0,0,clear,Spring
5,2015-01-01 01:00:00+01:00,1,1,2015,158.0,1009.0,1658.0,50.0,7096.0,Valencia,27.19,0.0,0.0,0,clear,Spring
10,2015-01-01 02:00:00+01:00,1,1,2015,157.0,973.0,1371.0,50.0,7099.0,Valencia,25.76,0.0,0.0,0,clear,Spring
15,2015-01-01 03:00:00+01:00,1,1,2015,160.0,949.0,779.0,50.0,7098.0,Valencia,25.76,0.0,0.0,0,clear,Spring
20,2015-01-01 04:00:00+01:00,1,1,2015,156.0,953.0,720.0,42.0,7097.0,Valencia,25.76,0.0,0.0,0,clear,Spring